body {
    font-family: 'Franklin Gothic Medium', sans-serif;
    overflow-x:hidden; 
}

nav {
    width:100%;
    height:60px;
    background:#344051;
}

.Logo {
    color:#fff;
    font-size:18px;
    padding-left: 194px;
    line-height: 59px;
    float:left;
}

.menu {
    float: left;
    padding-left: 270px ;
}

.il{
    float: left;
    line-height: 63px;
    color:#fff;
    margin-right: 40px;
    font-size: 13px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: 100% ;
    background:  url(../img/копия.png) 90% 100%/auto 90% no-repeat,url(../img/bg.jpg) center/cover no-repeat;
}

.title_container{
    float:left;
    margin: 240px 0px 0px 202px;
    color:#2c384a;
    text-align: center;
}

.title_container h1 {
    font-size: 45px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 30px;
    font-size: 18px;
    color:#79818c;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    border-radius: 8%;
    color:#6d7682;
    font-size:13px;
    padding: 0px 16px;
    margin-right: 15px;
    margin-top: 29px;
}

.my_inf h2 {
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color:#2c384a;
    font-weight: bold;
}

.cherta {
    background-image: url(../img/cherta.png);
    display: block;
    margin: 0px 50px 30px 630px;
    width: 72px;
    height: 4px;
    
}

.lico {
    display: block;
    margin: 60px 0px 25px 565px;
    width: 200px;
    height: 200px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-image:url(../img/фотка.png);
    background-position:100% 100%;
    background-repeat:no-repeat;
}

.text_info {
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    padding-bottom: 25px;
    font-family: 'Cambria';
    color:#263244;
}

.text_infa {
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    font-family: 'Cambria';
    color:#263244;   
}

.kik {
    background-color: #fff;
    height: 35px;
    width: 140px;
    text-align: center;
    border: 3px solid #767784;
    border-radius: 9%;
    color:#6f707e;
    font-size:14px;
    padding: 0px 9px;
    background-image: url(../img/иконка.png);
    background-repeat: no-repeat;
    background-position: 4px 6px;
    padding-left: 30px;
    margin: 40px 442px 0px 605px;
    margin-bottom:110px;
}

.i_can h2{
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color:#2c384a;
    font-weight: bold;
}

.i_can {
    top:-60px;
    width: 100%;
    height: 525px ;
    background:  url(../img/3rasdel.png) 100% 1%/ 101% 90% no-repeat
}

.Nout {
background-image: url(../img/ноут.png);
width: 55px;
height: 35px;
margin: 112px 0px 35px 195px;
}

.web-desin h3 {
    color:#cf7600;
    font-size: 15px;
    margin: 10px 185px 0px;
}

.web-desin p {
    margin: 15px 100px 0px;
    text-indent: 5px ;  
    padding:5px 10px 95px 40px; 
    color:#2c384a;
}

.develor {
    background-image: url(../img/знак.png);
    width: 52px;
    height: 38px;
    margin: -243px 0px 30px 480px;
}

.development h3 {
    color:#cf7600;
    font-size: 15px;
    margin: 11px 470px 5px;
}

.development p {
    margin: 15px 380px 0px;
    text-indent: 5px ;  
    padding:5px 10px 95px 40px; 
    color:#2c384a;
}

.ce {
    background-image: url(../img/ракета.png);
    width: 47px;
    height: 46px;
    margin: -235px 0px 20px 780px;
}

.CEO h3 {
    width: 2000px;
    color:#cf7600;
    font-size: 15px;
    margin: 5px 745px 5px;
}

.CEO p{
    text-align: center;
    margin: 11px 665px 0px;
    text-indent: 5px ;  
    padding:5px 10px 95px 40px; 
    color:#2c384a;
    width: 250px;
}

.mark {
    background-image: url(../img/граммофон.png);
    width: 50px;
    height: 44px;
    margin: -250px 0px 0px 1070px;
}

.marketing h3 {
    color:#cf7600;
    font-size: 15px;
    margin: 23px 1060px 1px;
}

.marketing p{
    text-align: center;
    margin: 12px 960px 0px;
    text-indent: 5px ;  
    padding:5px 10px 95px 40px; 
    color:#2c384a;
    width: 250px;
}

.CASES h2 {
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color:#2c384a;
    font-weight: bold;
}

.CASES p{
    color:#2c384a;
    text-align: center;
}

.ClientPothon {
    background: url(../img/Client.png);
    width: 100%;
    height: 100% ;
    margin: -80px 0px 0px -100px;
    /*background:  url(../img/копия.png) 90% 100%/auto 90% no-repeat,url(../img/bg.jpg) center/cover no-repeat;*/
}

.CLIENT h3 {
    margin: 30px 95px 0px 95px;
    font-size: 30px;
    color:#2c384a;
}

.CLIENT p{
    margin: 10px 96px;
    color: #2c384a;
}

.WEBSITE h3 {
    margin: 30px 95px 0px 95px;
    font-size: 30px;
    color:#2c384a;
}

.WEBSITE p{
    margin: 10px 96px;
    color: #2c384a
}

.project_name h3{
    margin: -150px 95px 0px 405px;
    font-size: 30px;
    color:#2c384a;
}

.project_name p{
    margin: 10px 406px 10px;
    color: #2c384a;
    display: inline-block;
    width: 700px;
}

.visit_button input {
    background-color: #63b5ae;
    height: 45px;
    width: 200px;
    text-align: center;
    border: 3px solid #63b5ae;
    border-radius: 8%;
    color:#fff;
    font-size:14px;
    padding: 0px 9px;
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding-left: 10px;
    margin: 10px 442px 0px 95px;
    margin-bottom:100px;
    font-size: 20px;
}

.payment h2 {
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color:#2c384a;
    font-weight: bold;
}

.site_type h3{
    margin: 30px 0px 0px 250px;
    font-size: 25px;
    color:#2c384a;
}

.site_type select{
    background-color: #eeeeee;
    height: 45px;
    width: 800px;
    text-align: left;
    border: 3px solid #eeeeee;
    color:#737373;
    padding: 0px 9px;
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding-left: 10px;
    margin: 20px 0px 0px 250px;
    margin-bottom:10px;
    font-size: 15px;
}

.desin  {
    margin: 30px 0px 0px 250px;
    font-size: 25px;
    color:#2c384a;
}

.desin select{
    background-color: #eeeeee;
    height: 45px;
    width: 800px;
    text-align: left;
    border: 3px solid #eeeeee;
    color:#737373;
    padding: 0px 9px;
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding-left: 10px;
    margin: 20px 0px 0px 0px;
    margin-bottom:10px;
    font-size: 15px;
}

.adapt {
    margin: 30px 0px 0px 250px;
    font-size: 25px;
    color:#2c384a;
}

.adapt select {
    background-color: #eeeeee;
    height: 45px;
    width: 800px;
    text-align: left;
    border: 3px solid #eeeeee;
    color:#737373;
    padding: 0px 9px;
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding-left: 10px;
    margin: 20px 0px 0px 0px;
    margin-bottom:10px;
    font-size: 15px;
}

.stroka {
    background-image: url(../img/линия\ подитога.png);
    display: block;
    margin: 20px 50px 20px 250px;
    width: 800px;
    height: 2px;
}

.sroki1 {
    margin: 10px 0px 0px 250px;
    font-size: 16px;
    color:#2c384a;
}

.sroki2 {
    margin: 15px 0px 50px 250px;
    font-size: 16px;
    color:#2c384a;
}

.statistics {
    width: 100%;
    height: 500px;
    background:  url(../img/фон3.png) 60% 1%/ 120% 100% no-repeat;
}

.statistics h2{
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color:#2c384a;
    font-weight: bold;
    margin: 200px;
    padding: 70px 0px 10px 0px;
}

.cherta1 {
    background-image: url(../img/cherta.png);
    display: block;
    margin: -220px 50px 30px 630px;
    width: 72px;
    height: 4px;
}

.happy {
    background-image: url(../img/смайл.png);
    width: 52px;
    height: 52px;
    margin: 75px 0px 20px 260px;
}

.chislo_happy {
    margin: 20px 0px 30px 261px;
    font-size: 30px;
    color: #323e4f;
}

.happy_clients p{
    margin: 20px 0px 30px 215px;
    color: #323e4f;
}

.opening {
    background-image: url(../img/скобки.png);
    width: 63px;
    height: 47px;
    margin: -175px 0px 20px 510px;
}

.opening_chasov{
    margin:20px 0px 20px 500px;
    font-size: 30px;
    color: #323e4f;
}

.opening_hours p{
    color: #323e4f;
    margin:33px 0px 20px 492px;
}

.galochka {
    background-image: url(../img/галочка.png);
    width: 56px;
    height: 47px;
    margin: -165px 0px 20px 760px;
}

.chislo_galochka {
    margin:18px 0px 20px 760px;
    font-size: 30px;
    color: #323e4f;
}

.Completed_projects p{
    color: #323e4f;
    margin:33px 0px 20px 715px;
}

.cubock{
    background-image: url(../img/кубок.png);
    width: 57px;
    height: 52px;
    margin: -165px 0px 20px 1010px;  
}

.nagrad_polucheno {
    margin:18px 0px 20px 1023px;
    font-size: 30px;
    color: #323e4f;
}

.awards_received p{
    color: #323e4f;
    margin:28px 0px 20px 985px;
}

.Reviews h2{
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color:#2c384a;
    font-weight: bold;
}

.cherta3 {
    background-image: url(../img/cherta.png);
    display: block;
    margin: -60px 50px 10px 630px;
    width: 72px;
    height: 4px;
}

.lico2 {
    display: block;
    margin: -10px 0px 25px 515px;
    width: 200px;
    height: 200px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 150px;
    background-image:url(../img/фотка.jpg);
    background-position:100% 50%;
    background-repeat:no-repeat;
}

.Reviews p{
    margin: 10px 306px 10px;
    color: #2c384a;
    display: inline-block;
    text-align: center;
    width: 700px;
}

.point {
    background-image: url(../img/Info.txt.png);
    display: block;
    margin: 60px 50px 10px 630px;
    width: 10px;
    height: 10px;
}

.point2 {
    background-image: url(../img/Оранж\ копия.png);
    display: block;
    margin: -20px 50px 10px 660px;
    width: 10px;
    height: 10px;
}

.point3 {
    background-image: url(../img/Оранж\ копия.png);
    display: block;
    margin: -20px 50px 60px 690px;
    width: 10px;
    height: 10px;
}

.My_contacts {
    width: 1680px;
    height: 808px ;
    background:  url(../img/Фон5.jpg) -150px -199%/100% 100% 
}

.My_contacts h2 {
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    color:#ffffff;
    font-weight: bold;
    margin: 100px 0px 20px -360px;
}

.My_contacts p{
    text-align: center;
    margin: 20px;
    color:#ffffff;
    margin: 30px 0px 20px -360px;
}

.geo_img {
    background-image: url(../img/гео.png);
    width: 18px;
    height: 25px;
    margin: 65px 0px 20px 415px;  
}

.geo p{
    margin: 20px 0px 20px -830px; 
}

.pochta_img {
    background-image: url(../img/конверт.png);
    width: 29px;
    height: 24px;
    margin: -90px 0px 20px 645px;  
}

.pochta p{
    margin: 20px;
    color: #fff;
    margin: 30px 0px 20px -360px;
}

.truba {
    background-image: url(../img/труба.png);
    width: 24px;
    height: 24px;
    margin: -88px 0px 20px 875px;  
}

.nomer p{
    margin: 20px;
    color: #fff;
    margin: 30px 0px 0px 93px;
}

.leave_messages h3{
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color:#ffffff;
    font-weight: bold;
    margin: -500px 0px 0px -1px;
}
.nami {    
    height: 33px;
    width: 350px;
    text-align: left;
    border: 2px solid #d2d6dc;
    color:#d2d6dc;
    font-size:13px; 
    margin: 10px 0px 0px 300px;
    padding-left: 10px;
}

.imai {
    height: 33px;
    width: 350px;
    text-align: left;
    border: 2px solid #d2d6dc;
    color:#d2d6dc;
    font-size:13px; 
    margin: 10px 0px 0px 20px;
    padding-left: 10px;
}

.soobhi{
    height: 95px;
    width: 725px;
    text-align: left;
    border: 2px solid #d2d6dc;
    font-size:13px; 
    margin: 10px 0px 0px 300px;
    padding-left: 10px;
    color:#5d5d5e;
}

.toro{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 45px;
    width: 125px;
    text-align: center;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 9%;
    font-size:18px;
    background-position: 4px 6px;
    margin: 40px 442px 0px 605px;
    margin-bottom:110px;
}
/*1920 356*/
.carta {
    background-image: url(../img/Карта\ копия.png);
    width: 1920px;
    height: 346px;
}

.carto{
    background-color: #ffffff;
    height: 45px;
    width: 200px;
    text-align: center;
    border: 3px solid #ffffff;
    color:rgb(0, 0, 0);
    font-size:14px;
    padding: 0px 9px;
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding-left: 10px;
    margin: 180px 442px 0px 525px;
    margin-bottom:100px;
    font-size: 20px;
}

.end {
    width:100%;
    height:60px;
    background-color:#344051 ;
}

